@font-face {
  font-family: 'Montserrat-Medium';
  src: url("../fonts/Montserrat-Medium.eot");
  src: url("../fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Medium.ttf") format("truetype"), url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("../fonts/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../fonts/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.card-1:hover, .card-2:hover, .card-3:hover, .card-4:hover, .card-5:hover, .card-6:hover, .see-all a:hover {
  -webkit-transform: scale(1.067, 1.067);
          transform: scale(1.067, 1.067);
}

.card-1:hover, .card-2:hover, .card-3:hover, .card-4:hover, .card-5:hover, .card-6:hover {
  background-color: #fff;
  color: #333333;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.why-are-we h2, .actual-directions h2, .our-blog h2 {
  font-family: Montserrat-Medium;
  font-weight: 500;
  font-size: 1.0em;
  line-height: 1.2em;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 44px;
}

.card-2, .card-3, .card-4, .card-5, .card-6 {
  text-decoration: none;
  color: #FFFFFF;
  display: block;
  background-size: 100% 216px;
  border-radius: 4px;
}

.card-1 .card-boddy h3, .card-2 .card-boddy h3, .card-3 .card-boddy h3, .card-4 .card-boddy h3, .card-5 .card-boddy h3, .card-6 .card-boddy h3 {
  font-family: Montserrat-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 0.6em;
  line-height: 120%;
  margin-left: 20px;
  margin-bottom: 16px;
}

.card-1 .card-boddy p, .card-2 .card-boddy p, .card-3 .card-boddy p, .card-4 .card-boddy p, .card-5 .card-boddy p, .card-6 .card-boddy p {
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: 400;
  font-size: 0.5em;
  line-height: 143%;
  margin-left: 20px;
  margin-bottom: 17px;
  width: 89%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.card-1 .card-boddy .detail, .card-2 .card-boddy .detail, .card-3 .card-boddy .detail, .card-4 .card-boddy .detail, .card-5 .card-boddy .detail, .card-6 .card-boddy .detail {
  font-family: Montserrat-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  opacity: 0.5;
  margin-left: 20px;
  margin-bottom: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1138px;
  margin: auto;
}

header {
  position: absolute;
  width: 100%;
  top: 29px;
}

.main-bg {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(2.5%, rgba(255, 255, 255, 0.03)), color-stop(42.42%, rgba(27, 30, 34, 0.4)), color-stop(80.67%, #1B1E22)), url(../images/Banner.png);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.03) 2.5%, rgba(27, 30, 34, 0.4) 42.42%, #1B1E22 80.67%), url(../images/Banner.png);
  background-repeat: no-repeat;
  background-position: center top;
}

.logo {
  width: 183px;
  height: 50px;
  background-image: url(../images/Logo.png);
}

.flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-size: 18px;
}

.flex-wrapper a {
  text-decoration: none;
  font-family: Montserrat-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 0.72em;
  color: #fff;
}

.select-language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 79px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 33px;
  margin-right: 179px;
}

.select-language a {
  color: rgba(196, 196, 196, 0.5);
}

.select-language a:focus {
  color: #fff;
}

nav {
  width: 58%;
}

nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-wrapper ul a {
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: 400;
  font-size: 1.0em;
}

ul li:last-child {
  border: 1px solid #FFB800;
  border-radius: 10px;
  padding: 8px 33px;
}

.flex-wrapper-1 {
  width: 1278px;
  margin: auto;
  padding-top: 241px;
  padding-bottom: 205px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.explore-the-world {
  width: 43%;
  padding-left: 70px;
  font-size: 48px;
}

.explore-the-world h1 {
  font-family: Montserrat-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 1.0em;
  line-height: 121%;
  color: #FFFFFF;
  margin-bottom: 42px;
}

.explore-the-world p {
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: 400;
  font-size: 0.5em;
  line-height: 190%;
  color: #FFFFFF;
}

form {
  width: 40%;
  background-color: rgba(51, 51, 51, 0.25);
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
  padding: 50px 0 55px;
}

.form-container {
  max-width: 72%;
  margin: auto;
}

form p {
  font-family: Montserrat-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #FFFFFF;
  margin-bottom: 23px;
}

input[type="search"] {
  display: block;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.25);
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
  color: #FFFFFF;
  padding: 9px 9px 12px 13px;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  margin-bottom: 22px;
}

.form-container > input[type="search"]:first-of-type::-webkit-input-placeholder {
  font-family: Montserrat-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  background: url(../images/Ellipse.svg) no-repeat right;
}

.when-flex-wrapper > input[type="search"] {
  background-color: rgba(51, 51, 51, 0.25);
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
  color: #FFFFFF;
  padding: 9px 9px 12px 13px;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  margin-bottom: 22px;
  width: 47%;
}

.when-flex-wrapper > input[type="search"]::-webkit-input-placeholder {
  font-family: Montserrat-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
}

select {
  width: 100%;
  background-color: rgba(51, 51, 51, 0.25);
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
  color: #FFFFFF;
  padding: 9px 9px 12px 12px;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  margin-bottom: 22px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url(../images/choose-icon.svg) no-repeat;
  background-size: 10px;
  background-position: 97% center;
  cursor: pointer;
}

select:focus {
  background-color: rgba(51, 51, 51, 0.25);
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
}

.when-flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

button {
  font-family: Montserrat-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  background: #FFB800;
  width: 100%;
  border-radius: 4px;
  color: #333333;
  display: block;
  border: 1px solid #FFB800;
  border-radius: 4px;
  padding: 9px 0 9px;
  cursor: pointer;
}

.why-are-we {
  padding-bottom: 61px;
}

.why-are-we-flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 34px;
}

.visa-support, .directions, .escort, .equipment {
  width: 23%;
}

.visa-support p, .directions p, .escort p, .equipment p {
  font-family: Montserrat-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 0.6em;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
}

.visa-support::before {
  display: block;
  content: "";
  height: 72px;
  background: url(../images/visa.svg) no-repeat center;
  margin-bottom: 17px;
  text-align: center;
}

.directions::before {
  display: block;
  content: "";
  height: 72px;
  background: url(../images/world.svg) no-repeat center;
  margin-bottom: 17px;
  text-align: center;
}

.escort::before {
  display: block;
  content: "";
  height: 72px;
  background: url(../images/hunter.svg) no-repeat center;
  margin-bottom: 17px;
  text-align: center;
}

.equipment::before {
  display: block;
  content: "";
  height: 72px;
  background: url(../images/bbq.svg) no-repeat center;
  margin-bottom: 17px;
  text-align: center;
}

.actual-directions {
  background-color: #1B1E22;
  padding-bottom: 72px;
  font-size: 34px;
  line-height: 38px;
}

.actual-directions h2 {
  margin-bottom: 45px;
}

.cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-gap: 2vw;
  margin-bottom: 48px;
  font-size: 34px;
}

.card-1 {
  text-decoration: none;
  color: #FFFFFF;
  display: block;
  background: url(../images/top-left.png) #23282F no-repeat top;
  background-size: 100% 216px;
  padding: 159px 0 24px;
  border-radius: 4px;
  margin-bottom: 24px;
}

.card-1 .card-boddy {
  padding-top: 16px;
  min-height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.price-and-date {
  height: 32px;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.price-and-date .price {
  background-color: #FFB800;
  font-family: Montserrat-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 246%;
  color: #1B1E22;
  display: inline-block;
  height: 32px;
  vertical-align: top;
  border: none;
}

.price-and-date .number {
  font-family: Montserrat-Bold;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1B1E22;
  display: inline-block;
  background-color: #FFB800;
  height: 32px;
  padding: 0 5px;
  border: none;
}

.price-and-date .price-number {
  display: block;
  height: 32px;
}

.price-and-date .data {
  font-family: Montserrat-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 123%;
  color: #FFFFFF;
  background: rgba(27, 30, 34, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 32px;
  padding: 0 11px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-2 {
  background: url(../images/top-middle.png) #23282F no-repeat top;
  padding: 159px 0 24px;
  margin-bottom: 24px;
}

.card-2 .card-boddy {
  padding-top: 16px;
  min-height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-3 {
  background: url(../images/top-right.png) #23282F no-repeat top;
  padding: 159px 0 24px;
  margin-bottom: 24px;
}

.card-3 .card-boddy {
  padding-top: 16px;
  min-height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-4 {
  background: url(../images/bottom-left.png) #23282F no-repeat top;
  padding: 159px 0 24px;
}

.card-4 .card-boddy {
  padding-top: 16px;
  min-height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-5 {
  background: url(../images/bottom-middle.png) #23282F no-repeat top;
  padding: 159px 0 24px;
}

.card-5 .card-boddy {
  padding-top: 16px;
  min-height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-6 {
  background: url(../images/bottom-right.png) #23282F no-repeat top;
  padding: 159px 0 24px;
}

.card-6 .card-boddy {
  padding-top: 16px;
  min-height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.see-all {
  width: 100%;
  text-align: center;
}

.see-all a {
  font-family: Montserrat-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #FFFFFF;
  display: inline-block;
  padding: 13px 35px;
  border-radius: 4px;
  border: 1px solid #FFB800;
  text-decoration: none;
}

.see-all a:hover {
  background-color: #FFB800;
  color: black;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.clients-bg {
  background: url(../images/clients.png);
  background-size: cover;
  min-height: 263px;
}

.clients-bg .clients-bg-work {
  background: rgba(27, 30, 34, 0.78);
  padding: 59px 0 75px;
}

.clients-bg .clients-bg-work .flex-wrapper-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 40px 0 72px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 78px;
}

.clients-bg .clients-bg-work .flex-wrapper-2 .clients, .clients-bg .clients-bg-work .flex-wrapper-2 .tours, .clients-bg .clients-bg-work .flex-wrapper-2 .offices, .clients-bg .clients-bg-work .flex-wrapper-2 .nine-years {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 44%;
  min-height: 133px;
}

.clients-bg .clients-bg-work .flex-wrapper-2 .number {
  font-family: Montserrat-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 1.0em;
  line-height: 0.75em;
  color: #FFB800;
}

.clients-bg .clients-bg-work .flex-wrapper-2 .text {
  font-family: Montserrat-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 0.3em;
  line-height: 120%;
  color: #FFFFFF;
}

.our-blog {
  background-color: #1B1E22;
  padding: 62px 0;
}

.our-blog h2 {
  font-size: 34px;
  line-height: 112%;
  text-align: center;
  margin-bottom: 44px;
}

.blog-flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 48px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blog-flex-wrapper .ten-place-bg {
  background: url(../images/ten-place.png);
  width: 48%;
  background-size: cover;
  border-radius: 4px;
}

.blog-flex-wrapper .ten-place {
  background-color: rgba(31, 31, 31, 0.65);
  padding: 51px 0 311px;
}

.blog-flex-wrapper .travel-bloger, .blog-flex-wrapper .life-huck {
  width: 24%;
}

.ten-place {
  color: #FFFFFF;
}

.ten-place h3 {
  font-family: Montserrat-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 112%;
  max-width: 521px;
  text-align: center;
  margin: auto;
  margin-bottom: 28px;
}

.ten-place p {
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 123%;
  text-align: center;
}

.travel-bloger, .life-huck {
  color: #FFFFFF;
  background-color: #23282F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 21px;
  border-radius: 4px;
}

.travel-bloger img, .life-huck img {
  margin-bottom: 20px;
  display: inline-block;
}

.travel-bloger h3, .life-huck h3 {
  font-family: Montserrat-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 14px;
  padding: 0 26px 0 19px;
}

.travel-bloger p, .life-huck p {
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  padding: 0 26px 0 19px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.travel-bloger-likes, .life-huck-bloger-likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 26px 0 19px;
}

.travel-bloger-likes span, .life-huck-bloger-likes span {
  display: inline-block;
  color: rgba(255, 255, 255, 0.5);
}

.travel-bloger-likes span img, .life-huck-bloger-likes span img {
  display: inline;
  margin: 0;
}

.slider-bg {
  background-color: #1B1E22;
}

.slider {
  color: #FFFFFF;
  text-align: center;
  min-height: 362px;
  padding: 0 104px 61px 107px;
  font-size: 34px;
}

.slider h2 {
  font-family: Montserrat-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 1.0em;
  line-height: 112%;
  margin-bottom: 47px;
}

.slider p {
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: 400;
  font-size: 0.7em;
  line-height: 133%;
  color: #FFFFFF;
}

.slider img {
  display: inline-block;
  border-radius: 50%;
  margin-bottom: 30px;
}

.slider span {
  color: #FFB800;
  font-family: Montserrat-bold;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 32px;
}

.carousel-inner {
  min-height: 362px;
}

.carousel-indicators li {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
}

.carousel-indicators li.active {
  background-color: #FFFFFF;
}

footer {
  background-color: #1B1E22;
  min-height: 76px;
  padding-bottom: 28px;
}

footer .footer-flex-wrapper {
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.email-and-adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 22%;
  min-height: 76px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.email-and-adress span {
  display: inline-block;
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #FFB800;
}

.email-and-adress a {
  display: inline-block;
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-decoration: none;
  color: #FFFFFF;
}

.adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 252px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 252px;
  margin-right: 20px;
}

.email span {
  margin-right: 28px;
}

.telephones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 19%;
}

.telephones span {
  display: block;
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #FFB800;
}

.telephones a {
  display: block;
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-decoration: none;
  color: #FFFFFF;
}

.numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 76px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 14%;
  min-height: 76px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.socials span {
  display: block;
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #FFB800;
}

.socials .socials-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.socials .socials-icons a {
  text-decoration: none;
}

.toggle {
  background-color: white;
  padding: 5px;
  border-radius: 3px;
  position: fixed;
  top: 10px;
  right: 50px;
  display: none;
  z-index: 3;
}

@media (max-width: 1282px) {
  .flex-wrapper-1 {
    max-width: 1138px;
  }
}

@media (max-width: 1140px) {
  .container {
    max-width: 90%;
  }
  .flex-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .flex-wrapper nav {
    width: 70%;
    margin: auto;
  }
  .flex-wrapper .select-language {
    margin-right: 20px;
  }
  .flex-wrapper-1 {
    max-width: 90%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .explore-the-world {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .explore-the-world form {
    width: 60%;
  }
  .explore-the-world {
    width: auto;
    padding: 0;
    height: 0;
    margin-bottom: 10px;
  }
  .why-are-we-flex-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cards .card-1, .cards .card-2, .cards .card-3, .cards .card-4, .cards .card-5, .cards .card-6 {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
  .cards .card-4 {
    margin-bottom: 24px;
  }
  .flex-wrapper-2 .nine-years, .flex-wrapper-2 .clients, .flex-wrapper-2 .tours, .flex-wrapper-2 .offices {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .blog-flex-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .blog-flex-wrapper .ten-place-bg {
    margin-bottom: 20px;
    -ms-flex-preferred-size: 68%;
        flex-basis: 68%;
  }
  .blog-flex-wrapper .life-huck {
    margin: auto;
  }
  .blog-flex-wrapper .travel-bloger {
    margin-bottom: 20px;
  }
  .blog-flex-wrapper .travel-bloger, .blog-flex-wrapper .life-huck {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
  footer .footer-flex-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .telephones {
    width: 30%;
  }
}

@media (max-width: 900px) {
  .flex-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .flex-wrapper nav {
    margin: 0%;
    width: 100%;
  }
  .explore-the-world {
    width: unset;
    padding: 0;
    height: 0;
    margin-bottom: 10px;
    text-align: center;
  }
  .visa-support, .directions, .escort, .equipment {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
  .blog-flex-wrapper .ten-place-bg {
    margin-bottom: 20px;
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
  }
  .blog-flex-wrapper .life-huck {
    margin: auto;
  }
  .blog-flex-wrapper .travel-bloger {
    margin-bottom: 0;
  }
  .blog-flex-wrapper .travel-bloger, .blog-flex-wrapper .life-huck {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}

@media (max-width: 600px) {
  nav {
    display: none;
  }
  .toggle {
    display: block;
  }
  .toggle:hover + nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .toggle:hover + nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .flex-wrapper-1 {
    padding: 300px 0 0;
  }
  .explore-the-world {
    width: unset;
    padding: 0;
    height: 0;
    margin-bottom: 10px;
    text-align: center;
    font-size: 24px;
  }
  form {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
    width: auto;
  }
  .why-are-we {
    font-size: 24px;
  }
  .why-are-we .why-are-we-flex-wrapper {
    font-size: 24px;
  }
  .actual-directions {
    font-size: 24px;
  }
  .actual-directions .cards {
    font-size: 34px;
  }
  .actual-directions .card-1, .actual-directions .card-2, .actual-directions .card-3, .actual-directions .card-4, .actual-directions .card-5, .actual-directions .card-6 {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
    margin: 24px auto;
  }
  .actual-directions .card-5 {
    margin-bottom: 24px;
  }
  .clients-bg .clients-bg-work .flex-wrapper-2 {
    font-size: 38px;
  }
  .clients-bg .clients-bg-work .flex-wrapper-2 .nine-years, .clients-bg .clients-bg-work .flex-wrapper-2 .clients, .clients-bg .clients-bg-work .flex-wrapper-2 .tours, .clients-bg .clients-bg-work .flex-wrapper-2 .offices {
    min-height: auto;
  }
  .blog-flex-wrapper .ten-place-bg {
    margin-bottom: 20px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .blog-flex-wrapper .travel-bloger, .blog-flex-wrapper .life-huck {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    margin: 0;
  }
  .slider {
    font-size: 24px;
  }
  footer .footer-flex-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    min-height: auto;
  }
  footer .footer-flex-wrapper .socials {
    margin: auto;
  }
  footer .footer-flex-wrapper .socials span {
    text-align: center;
  }
  footer .footer-flex-wrapper .email-and-adress, footer .footer-flex-wrapper .telephones {
    margin-bottom: 20px;
  }
  footer .footer-flex-wrapper .email-and-adress, footer .footer-flex-wrapper .telephones, footer .footer-flex-wrapper .socials {
    min-height: auto;
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}

@media (max-width: 425px) {
  .actual-directions .card-1, .actual-directions .card-2, .actual-directions .card-3, .actual-directions .card-4, .actual-directions .card-5, .actual-directions .card-6 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .blog-flex-wrapper .ten-place-bg {
    margin-bottom: 20px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .blog-flex-wrapper .ten-place-bg h3 {
    font-size: 18px;
  }
  .blog-flex-wrapper .travel-bloger, .blog-flex-wrapper .life-huck {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
    margin: 20px auto;
  }
  .slider {
    font-size: 24px;
    padding: 0;
  }
  footer .footer-flex-wrapper {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  footer .footer-flex-wrapper .telephones {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  footer .footer-flex-wrapper .telephones .numbers {
    margin-left: 20px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  footer .footer-flex-wrapper .email-and-adress, footer .footer-flex-wrapper .telephones {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (max-width: 375px) {
  .clients-bg {
    display: none;
  }
  .blog-flex-wrapper .travel-bloger, .blog-flex-wrapper .life-huck {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 20px auto;
  }
}
/*# sourceMappingURL=style.css.map */